@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
}

:root {

    --primary-background: #E5E5E5;
    --secondary-background: #E9D9C4;

    --primary-text: #F5F5F5;
    --secondary-text: #4B2E2E;

    --base: #D2B48C;
    --drafts: #C8A97E;
    --details: #A47551;  

    --transparent-white: #FFFFFF20;
    --text-shadow: 0px 0px 3px var(--base);

    --container: 1280px;
}